# Compiled class files
*.class
out/
web/WEB-INF/classes/

# Log files
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*

# Local Tomcat instances
LocalTomcat/
LocalTomcat2/
LocalTomcat3/

# IDE specific files
.vscode/
.idea/
*.iml
